.AdminUsers {
    margin: 20px;
    counter-set: count;
}

.AdminUsers table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.AdminUsers th,
.AdminUsers td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.AdminUsers td:first-child {
    counter-increment: count;
    
}

.AdminUsers td:first-child::before {
    content: counter(count);
}
.AdminUsers th {
    background-color: #f2f2f2;
}

.AdminUsers button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
}

.AdminUsers button:hover {
    background-color: #45a049;
}

.AdminUsers .reset-password-cover {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.AdminUsers .reset-password {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
}

.AdminUsers .reset-password input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

.AdminUsers .reset-password button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
}

.AdminUsers .reset-password button:hover {
    background-color: #45a049;
}

@media screen and (min-width: 300px) and (max-width: 1020px) {
    .AdminUsers td:nth-child(6),.AdminUsers th:nth-child(6){
        display: none;
    } 
}

@media screen and (min-width: 300px) and (max-width: 700px) {
    .AdminUsers td:nth-child(4),.AdminUsers th:nth-child(4){
        display: none;
    }
    
}

@media screen and (min-width: 300px) and (max-width: 565px) {
    .AdminUsers td:nth-child(1),.AdminUsers th:nth-child(1),.AdminUsers td:nth-child(5),.AdminUsers th:nth-child(5){
        display: none;
    }
    
}

@media screen and (min-width: 300px) and (max-width: 345px) {
    .AdminUsers td:nth-child(2),.AdminUsers th:nth-child(2),.AdminUsers td:nth-child(3),.AdminUsers th:nth-child(3){
        display: none;
    }
    .AdminUsers td:nth-child(5),.AdminUsers th:nth-child(5){
        display: block;
        width: 100px;
        overflow-x: scroll;
    }
}