.AdminAllStudent {
    counter-set: count;
    margin: 10px;
}

.AdminAllStudent tbody td:first-child {
    counter-increment: count;
}

.AdminAllStudent tbody td:first-child::before {
    content: counter(count);
}

.AdminAllStudent table {
    border-collapse: collapse;
}

.AdminAllStudent thead {
    background-color: #f2f2f2;
}

.AdminAllStudent th, .AdminAllStudent
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    width: 150px;
}

.AdminAllStudent th:first-child, .AdminAllStudent
td:first-child {
    width: 35px;
}

.AdminAllStudent th {
    font-weight: bold;
}

.AdminAllStudent th:nth-child(n+3) input {
    width: 80px;
}

.AdminAllStudent input {
    width: 100%;
    padding: 8px;
    border: none;
}

.AdminAllStudent tr:nth-child(even) {
    background-color: #f9f9f9;
}

.AdminAllStudent tr:hover {
    background-color: #f5f5f5;
}

@media screen and (min-width: 300px) and (max-width: 640px) {
    .AdminAllStudent td:nth-child(1),.AdminAllStudent th:nth-child(1),.AdminAllStudent td:nth-child(4),.AdminAllStudent th:nth-child(4),.AdminAllStudent td:nth-child(6),.AdminAllStudent th:nth-child(6) {
        display: none;
    }

    .AdminAllStudent thead tr:first-child {
        display: none;
    }
    
}

@media screen and (min-width: 300px) and (max-width: 640px) {
    .AdminAllStudent td:nth-child(5),.AdminAllStudent th:nth-child(5){
        display: none;
    }

    
    
}

@media screen and (min-width: 300px) and (max-width: 330px) {
    .AdminAllStudent td:nth-child(3),.AdminAllStudent th:nth-child(3){
        display: none;
    }
    
}